{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div id="BEGIN:layouts/page/deliverables.html"></div>
<div class="deliverables mv5 ph4 mw8 center">
  <h2 class="f3 fw6 ttu tracked dark-gray ph4 tc">
    {{ .Params.title }}
  </h2>
  <p class="f5 mt3 ph4 tc">{{ .Params.synopsis }}</p>

  <!-- Deliverables Section -->
  <div class="ph4 project-deliverables mt4 mw8 center">
    <h3 class="f4 fw6 ttu tracked dark-gray ph4 tc">
      {{ if (eq .Site.Language.Lang "fr") }}
        Livrables du projet
      {{ else }}
        Project Deliverables
      {{ end }}
    </h3>
    <a href="{{ .Params.project_deliverables.repository }}" class="link dim blue f6 underline db tc mb3" target="_blank">
      {{ if (eq .Lang "fr") }}
        Dépôt
      {{ else }}
        Repository
      {{ end }}
    </a>

    <div class="lots mt4">
    {{ $parent := . }} <!-- Save the parent context -->
    {{ range .Params.project_deliverables.lots }}
      <div class="lot mv4">
        <h4 class="f5 fw6 ttu dark-gray tc">{{ .lot }}</h4>
        <div class="papers">
          {{ range .papers }}
            <div class="paper ba b--light-gray pa3 mb3 br2">
              <h5 class="f6 fw6 dark-blue">{{ .id }} - {{ .name }}</h5>
              <p class="f6"><strong>Abstract:</strong> {{ .synopsys }}</p>
              <p class="f6 i">
                {{ if eq $parent.Lang "fr" }} <!-- Use the parent context -->
                <strong>Dirigé par:</strong> {{ .leader }}
                {{ else }}
                <strong>Led by:</strong> {{ .leader }}
                {{ end }}
              </p>
              <p class="f6">
                {{ if eq $parent.Lang "fr" }} <!-- Use the parent context -->
                <strong>Auteurs:</strong>
                {{ else }}
                <strong>Authors:</strong>
                {{ end }}
              </p>
              <ul class="list pl0">
                {{ range .authors }}
                  <li class="f6">{{ . }}</li>
                {{ end }}
              </ul>
              <a href="{{ .pdf_url }}" class="link dim blue underline f6 fw5" target="_blank">
                {{ if eq $parent.Site.Language.Lang "fr" }}
                  Télécharger la version PDF
                {{ else }}
                  Download PDF version (French)
                {{ end }}
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>

  <!-- Publications Section -->
  <div class="publications mt5 mw8 center">
    <h3 class="f4 fw6 ttu tracked dark-gray tc">
        Publications
    </h3>

    <div class="publication-list">
      {{ $parent := . }}
      {{ range .Params.publications }}
      <div class="publication ba b--light-gray pa3 mb3 br2">
        <h4 class="f5 fw6 dark-blue">{{ .papername }}</h4>
        <p class="f6">
          {{ if eq $parent.Lang "fr" }}
          <strong>Publié:</strong> {{ .date }}
          {{ else }}
          <strong>Published:</strong> {{ .date }}
          {{ end }}
        </p>
        <p class="f6">
          {{ if eq $parent.Lang "fr" }}
          <strong>Auteurs:</strong>
          {{ else }}
          <strong>Authors:</strong>
          {{ end }}
        </p>
        <ul class="list pl0">
          {{ range .authors }}
          <li class="f6">{{ . }}</li>
          {{ end }}
        </ul>
        <a href="{{ .url }}" class="link dim blue underline f6 fw5" target="_blank">
          {{ if eq $parent.Lang "fr" }}
            Lire la publication
          {{ else }}
            Read Publication
          {{ end }}
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>

<div id="END:layouts/page/deliverables.html"></div>
{{ end }}
