{{ define "header" }}
{{
  $ctx := merge
            (dict
              "page" .
              "Site" .Site
              "Translations" .Translations
            )
            (dict
              "Params"
              (dict
                "description"
                .Content
                "featured_image"
                "/images/Decysif.png"
              )
            )
}}
{{ partial "page-header.html" $ctx }}
{{ end }}
{{ define "main" }}
<div class="blog-listing"> <!-- Container for the blog listing -->

  {{/* Define a section to pull recent posts from. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}

  {{ if ge $section_count 1 }}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">

      {{ with .Site.GetPage "section" $section_name }}
        <h1 class="blog-title">{{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}</h1> <!-- Section title -->
      {{ end }}

      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <!-- Main section for recent posts -->
      <section class="w-100 mw8">
        {{ range (first $n_posts $section) }}
        <div class="post-card"> <!-- Post card wrapper -->
          {{ .Render "summary-with-image" }}
        </div>
        {{ end }}
      </section>

      {{ if ge $section_count (add $n_posts 1) }}
      <section class="w-100">
        <h1 class="f3">{{ i18n "more" }}</h1>

        {{ range (first 4 (after $n_posts $section))  }}
        <h2 class="f5 fw4 mb4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "ml3" "mr3" }}">
          <a href="{{ .RelPermalink }}" class="link black dim">{{ .Title }}</a>
        </h2>
        {{ end }}

        {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .RelPermalink }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">
            {{ i18n "allTitle" . }}
          </a>
        {{ end }}
      </section>
      {{ end }}
    </div>
  {{ end }}
</div>
{{ end }}
