<nav class="navbar pv3 ph3 ph4-ns" role="navigation" aria-label="Main navigation">
  <div class="navbar-container flex justify-between items-center center">
    <!-- Site Title -->
    <a href="{{ .Site.Home.RelPermalink }}" class="navbar-title f3 fw2 hover-white no-underline white-90 dib">
      {{ .Site.Title }}
    </a>

    <!-- Hamburger menu for mobile -->
    <div class="menu-toggle">
      <button id="menu-button" class="hamburger-button" aria-expanded="false" aria-controls="main-navigation">
        <span class="hamburger-icon"></span> <!-- This is where the three lines are styled -->
      </button>
    </div>

    <!-- Navigation Links -->
    <div id="main-navigation" class="nav-links flex-l items-center dn db-l">
      {{ partial "i18nlist.html" . }}
      {{ with .Site.GetPage "_index.md"  }}
      <ul class="flex-l {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
        <li class="nav-item {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .RelPermalink }}#{{ .Params.sectiontitle }}" title="{{ i18n "pageTitle" . }}">
            {{ .Params.sectiontitle }}
          </a>
        </li>
        <li class="nav-item {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .RelPermalink }}#{{ replaceRE " " "" .Params.software.sectiontitle }}" title="{{ i18n "pageTitle" . }}">
            {{ .Params.software.navbartitle }}
          </a>
        </li>
        <li class="nav-item {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .RelPermalink }}#{{ replaceRE " " "" .Params.collaborators.sectiontitle }}" title="{{ i18n "pageTitle" . }}">
            {{ .Params.collaborators.navbartitle }}
          </a>
        </li>
      {{ end }}
      {{ with .Site.GetPage "/deliverables.md" }}
        <li class="nav-item {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .RelPermalink }}" title="{{ i18n "pageTitle" . }}">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
      {{ with .Site.GetPage "/post/_index.md" }}
        <li class="nav-item {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .RelPermalink }}" title="{{ i18n "pageTitle" . }}">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
      {{ with .Site.GetPage "/contact.md" }}
        <li class="nav-item {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .RelPermalink }}" title="{{ i18n "pageTitle" . }}">
            <button id="contact-button" class="btn btn-success black-90">{{ .Params.button_text }}</button>
          </a>
        </li>
      {{ end }}
      </ul>
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
