{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div id="BEGIN:layouts/index.html"></div>
<section class="ph4 pv5 bg-light-gray">
  <div class="mw7 center">
    <p class="f4 lh-copy">{{ .Params.synopsis | markdownify }}</p>
  </div>
</section>

<section id="project" class="ph4 pv5 bg-near-white">
  <div class="mw7 center">
    <h2 class="f3" id="{{ replaceRE " " "" .Params.project.sectiontitle }}">{{ .Params.project.sectiontitle }}</h2>
    <p class="f5 lh-copy">{{ .Params.project.content | markdownify }}</p>
    <img src="../images/Organisation-outils.png" alt="{{ .Params.project.img.alt }}" class="db center w-60" />
  </div>
</section>

<section id="coordinator" class="ph4 pv5 bg-light-gray">
  <div class="mw7 center">
    <h2 class="f3" id="{{ replaceRE " " "" .Params.coordinator.sectiontitle }}">{{ .Params.coordinator.sectiontitle }}</h2>
    <p class="f5 lh-copy">{{ .Params.coordinator.content | markdownify }}</p>
  </div>
</section>

<section id="software" class="ph4 pv5 bg-near-white">
  <div class="mw7 center">
    <h2 class="f3" id="{{ replaceRE " " "" .Params.software.sectiontitle }}">{{ .Params.software.sectiontitle }}</h2>
    <div class="flex flex-wrap">
      {{ range .Params.software.tools }}
        <div class="w-100 w-50-m w-50-l pa3">
          <h3 class="f4">{{ .name }}</h3>
          {{ range .url }}
          <a href="{{ . }}" class="link underline blue">{{ . }}</a><br />
          {{ end }}
          <p class="f5 lh-copy">{{ .description | markdownify }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section id="collaborators" class="ph4 pv5 bg-light-gray">
  <div class="mw7 center">
    <h2 class="f3" id="{{ replaceRE " " "" .Params.collaborators.sectiontitle }}">{{ .Params.collaborators.sectiontitle }}</h2>
    <div class="flex flex-wrap">
      {{ range .Params.collaborators.consortium }}
        <div class="w-100 w-50-m w-50-l pa3">
          <h3 class="f4">{{ .name }}</h3>
          <a href="{{ .url }}" class="link underline blue">{{ .url }}</a>
          <p class="f5 lh-copy">{{ .description | markdownify }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<div id="END:layouts/index.html"></div>
{{ end }}
