{{ define "header" }}
{{
  $ctx := merge
            (dict
              "page" .
              "Site" .Site
              "Translations" .Translations
            )
            (dict
              "Params"
              (dict
                "description"
                (i18n
                  "taxonomyPageList"
                  .
                )
                "featured_image"
                "/images/Decysif.png"
              )
            )
}}
{{ partial "page-header.html" $ctx }}
{{ end }}
{{ define "main" }}
  <div class="mw8 center">
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range  .Pages }}
        <div class="relative w-100 mb4">
          {{ .Render "summary-with-image" }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
